In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="M@tyotyo"
)
print(mydb)

In [2]:
#inserting columns on mySQL database

mydb = mysql.connector.connect(
    
  host="localhost",
  user="root",
  passwd="M@tyotyo",
  database="world"
)
mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE sprint1_Dataframe ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [ ]:
#adding column n between other columns 
cur = mydb.cursor()
cur.execute("ALTER TABLE sprint1_dataframe ADD Product VARCHAR(50) NOT NULL AFTER Items;")

In [ ]:
cur = mydb.cursor()
cur.execute("ALTER TABLE sprint1_dataframe ADD varchar(255)")

In [ ]:
#to update table on MySQL
sql = "Update world.sprint1_dataframe set items='Vegetables' where items='Baby marrows' "
cur.execute(sql)
mydb.commit()

In [ ]:
mydb = mysql.connector.connect(
    
  host="localhost",
  user="root",
  passwd="M@tyotyo",
  database="world"
)